body {
  margin: 0;
  background: #020813;
  color: #06152e;
  font-family: Arial;
}
main {
  max-width: 850px;
  margin: 40px auto;
  background: #fff;
  padding: 28px;
  border-top: 7px solid #087dff;
}
form {
  background: #edf6ff;
  padding: 15px;
  margin: 14px 0;
}
input,
button {
  padding: 9px;
  margin: 4px;
  border: 1px solid #b8d8ff;
}
button {
  background: #087dff;
  color: #fff;
  border: 0;
  font-weight: bold;
}
